<connectionStrings>
  <!--  the connection string tag will allow one to specify a connection to a database
        you may have several connection strings pointing to the same database OR separate databases
        
    nam - the name your program will use to access this connection string connectionString points to your datacase: the server source; database name; security access;
    prodiderName - inidicates the client requirement for you database type-->
  <add name="NWDB"
       connectionString ="Data Source=BENEDICT\MSSQLSERVER2019; Initial Catalog=Northwind_CPSC1517; Integrated Security=true;"
       providerName=""/>

</connectionStrings>