@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "WebGrid Destination";
    var = pid

}
@section banner {
    <div><h3>Sent from WebGrid Demo using passed data</h3></div>
}
you sent the product id of @pid
